.card {
    box-shadow: 0 4px 8px 0 black;
    max-width: 300px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    
}

.title{
    color: grey;
    font-size: 18px;
}

.profileBtn{
    color: black;
    background-color: white;
    box-shadow: 5px 2px 5px black;
    margin-left: 45%;
    margin-top: 3%;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid purple;
    border-radius: 1rem;
}